<footer class="footer-distributed">
  <div class="footer-left">
    <h3>HOUSE OF<span>BEAUTY.</span></h3>
    <p class="footer-links">
      <a href="#" class="link-1">Home</a>
      <a href="#">Contact Us</a>
      <a href="#">Shipping & returns</a>
      <a href="#">About</a>
    </p>
    <p class="footer-company-name">
      @2022 House of Beauty Collective Inc. All rights reserved
    </p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Unirii Square nr.100</span> Timisoara, Romania</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+1.555.555.5555</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="">support@houseofbeauty.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Simple. Trusted. Conscious. That's the House of Beauty Collective promise.
    </p>
    <div class="footer-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-pinterest"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
