table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

td,
th {
  width: 25%;
  border: #bfcddc;
}

.table {
  width: 1200px;
  float: left;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

tr.mat-header-row.cdk-header-row.ng-star-inserted {
  background: aliceblue;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
